.footer{
    background:$charcoal;
    width:100%;
    &__inner{
        padding-top:60px;
        display: flex;
        flex-direction: column;
        @include min(992px){
            flex-direction:row;
            height:367px;
        }
    }
    &__navigation{
        @include min(576px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items:center;
            padding-left:30px;
        }
        @include min(992px){
            flex-wrap: nowrap;
            order:3;
            margin-left:60px;
            align-items:baseline;
        }
        @include min(1200px){
            padding-left:0;
            margin-left:170px;
        }
        @include min(1700px){
            margin-left:220px;
        }
    }
    &__logo{
        display: flex;
        justify-content:center;
        @include min(992px){
            justify-content: flex-start;
            position: absolute;
            left:0;
            padding-left:45px;
        }
        &--svg{
            width:157px;
            height:30px;
            @include min(768px){
                width:190px;
                height:35px;
            }
            @include min(1200px){
                width:223px;
                height:43px;
            }
        }
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        margin-top:52px;
        @include min(576px){
            width:180px;
        }
        @include min(992px){
            width:100%;
            margin-top:0;
        }
        &--title h3{
            font-family: $ralewayFont;
            font-weight: 500;
            font-size: 18px;
            color:$steelBlue;
            line-height:21px;
            @include min(1360px){
                margin-bottom:43px;
            }
        }
    }
    &__phones--list{
        display: flex;
        list-style:none;
        flex-direction:column;
    }
    &__phones--item:first-child{
        margin-top:23px;
    }
    &__phones--item{
        display: flex;
        align-items:center;
        margin-top:20px;
        svg{
            width:24px;
            height:23px;
            margin-left:9px;
            @include min(768px){
                width:28px;
                height:27px;
                margin-left:15px;
            }
        }
    }
    &__phones--links{
        text-decoration: none;
        font-family: $ralewayFont;
        color:#FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        @include min(1200px){
            font-size:20px;
        }
    }
    &__schedule{
        display: flex;
        flex-direction: column;
        margin-top:80px;
        @include min(576px){
            width:180px;
            margin-top:65px;
        }
        @include min(992px){
            width:100%;
            margin-top:0;
            margin-left:30px;
        }
        @include min(1200px){
            margin-left:60px;
        }
        @include min(1700px){
            margin-left:100px;
        }
        &--title h3{
            font-family: $ralewayFont;
            font-weight: 500;
            font-size: 18px;
            color:$steelBlue;
            line-height:21px;
            @include min(1360px){
                margin-bottom:43px;
            } 
        }
        &--list{
            display: flex;
            flex-direction: column;
            list-style: none;
        }
        &--item:first-child{
            margin-top:23px;
        }
        &--item{
            display: flex;
            font-family: $ralewayFont;
            color:#FFF;
            font-size: 16px;
            font-weight: 300;
            line-height: 19.2px;
            margin-top:20px;
            @include min(1200px){
                font-size:20px;
            }
        }
        &--item span{
            font-size: 16px;
            font-weight: 600;
            line-height: 19.2px;
            padding-left:5px;
            @include min(1200px){
                font-size:20px;
            }
        }
    }
    &__address{
        display: flex;
        flex-direction:column;
        margin-top:80px;
        @include min(576px){
            text-align: center;
        }
        @include min(992px){
            text-align: left;
            width:100%;
            margin-top:0;
            margin-bottom:50px;
        }
        @include min(1700px){
            margin-left:100px;
        }
        &--title h3{
            font-family: $ralewayFont;
            font-weight: 500;
            font-size: 18px;
            color:$steelBlue;
            line-height:21px;
            @include min(1360px){
                margin-bottom:43px;
            }  
        }
        &--list{
            display: flex;
            list-style:none;
        }
        &--item{
            font-family: $ralewayFont;
            color:#FFF;
            font-size: 16px;
            font-weight: 300;
            line-height: 19.2px;
            margin-top:22px;
            @include min(1200px){
                font-size:20px;
                line-height:24px;
            }
        }
        &--item span{
            font-size: 16px;
            font-weight: 600;
            line-height: 19.2px;
            @include min(1200px){
                font-size:20px;
            }
        }
    }
    &__socials{
        display: flex;
        justify-content:center;
        align-items:center;
        margin-top:130px;
        margin-bottom:63px;
        @include min(576px){
            padding-left:30px;
        }
        @include min(992px){
            margin-top:65px;
            margin-bottom:0;
            justify-content: flex-start;
            align-items:flex-start;
        }
        &--link{
            cursor: pointer;
            text-decoration: none;
        }
        &--list{
            display: flex;
            list-style: none;
        }
        &--item:first-child{
            margin-left:0;
        }
        &--item{
            display: flex;
            margin-left:20px;
            svg{
                width:34px;
                height:34px;
                @include min(768px){
                    width:40px;
                    height:40px;
                }
            }
        }
    }
    &__bottom{
        background:$darkGrey;
        padding-top:30px;
        padding-bottom:27px;
        @include min(768px){
            padding-top:40px;
            padding-bottom:35px;
        }
        &--container{
            display: flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;
            flex-wrap:wrap;
            @include min(992px){
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-left:0;
            }
        }
    }
    &__company{
        display: flex;
        @include min(1700px){
            position: relative;
            left:270px;
        }
        &--link{
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
        svg{
            width:280px;
            height:20px;
            @include min(768px){
                width:300px;
                height:25px;
            }
        }
        &--title{
            font-family: 'Montserrat', sans-serif;
            color:#FFF;
            font-size: 12px;
            font-weight: 200;
            line-height: 1em;
            letter-spacing:1px;
            margin-top:9px;
            @include min(768px){
                font-size:14px;
            }
        }
    }
    &__copyright{
        margin-top:30px;
        @include min(992px){
            margin-top:0;
            margin-left:45px;
        }
    }
    &__owner{
        font-family:$ralewayFont;
        font-size: 16px;
        font-weight: 500;
        line-height: 12px;
        color:#FFF;
        @include min(1360px){
            font-size:18px;
        }
    }
}