.header{
    position: relative;
    &__inner{
        background-color:#fff;
        height:65px;
        display: flex;
        align-items:center;
        /* Media Style*/
        justify-content: space-between;
        @include min(992px) {
            margin-top:77px;
            justify-content: space-around;
        }
    }
    &__inner::after{
        content:"";
        width:100vw;
        position: absolute;
        bottom:-20px;
        left:0;
        height:2px;
        background:$snow;
        display: none;
        @include min(992px){
            display: block;
        }
        @include min(1700px){
            width:100vw;
            left:-152px;
            bottom:-25px;
        }
    }
    &__upper--container{
        /* Media Style*/
        display: none;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        background:$snow;
        left:0;
        top:0;
        width:100%;
        height:50px;
        @include min(992px) {
            display: flex;
        }
    }
    &__upper--nav{
        display: flex;
        .header__upper--list{
            display: flex;
            list-style: none;
            @include min(992px) {
                align-items:center;
            }
            .header__upper--item:first-child{
                margin-left:120px;
                @include min(992px) {
                    margin-left:40px;
                }
                @include min(1360px){
                    margin-left:85px;
                }
                @include min(1700px){
                    margin-left:200px;
                }
            }
            .header__upper--item{
                display: flex;
                margin-left:60px;
                @include min(992px) {
                    margin-left:40px;
                }
                @include min(1360px){
                    margin-left:50px;
                }
                .header__upper--link{
                    text-decoration: none;
                    font-family: $ralewayFont;
                    font-size: 15px;
                    line-height: 19.2px;
                    font-weight:400;
                    color:$charcoal;
                    @include min(1700px){
                        font-size:16px;
                    }
                }
            }
        }
    }
    &__upper--utils{
        .upper__utils--list{
            display: flex;
            align-items:center;
            list-style: none;
            .upper__utils--item{
                display: flex;
                justify-content: center;
                align-items:center;
                position: relative;
                margin-right:60px;
                @include min(992px){
                    margin-right:40px;
                }
                @include min(1360px){
                    margin-right:60px;
                }
                .lang__util--uA{
                    font-family: $ralewayFont;
                    color:$steelBlue;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;                 
                }
                .lang__util--rU{
                    font-family: $ralewayFont;
                    color:#DBDCDE;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    margin-left:20px;  
                }
                .fav__util--count{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    top:-4px;
                    left:12px;
                    padding:5px;
                    background:$orangeRed;
                    width:20px;
                    height:20px;
                    text-align: center;
                    border-radius:50%;
                    .fav__util--number{
                        color:#FFF;
                        font-family: $ralewayFont;
                        font-weight:500;
                        font-size: 12px;
                    }
                }
                .fav__util--title{
                    font-family: $ralewayFont;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;
                    color:$charcoal;
                }
                svg{
                    width:24px;
                    height:24px;
                    margin-right:15px;
                }
            }
        }
        
    }
    &__contacts{
        /* Media Style*/
        display: none;
        position: relative;
        @include min(992px){
            display: block;
        }
        &--btn{
            border:none;
            padding:0;
            width:35px;
            height:22px;
            background:transparent;
            cursor: pointer;
            .contacts__btn--svg{
                width:18px;
                height:18px;
                transition-duration: .3s;
            }
            .contacts__btn--svg.active{
                transform:translate(0) rotate(180deg);
            }
        }
        &--target{
            display: flex;
            justify-content: center;
            align-items:center;
            @include min(992px){
                margin-left:30px;
            }
            .viber__contacts--svg{
                width:24px;
                height:24px;
            }
        }
        &--phonebox{
            position: absolute;
            background: #fff;
            box-shadow:0 0 40px rgba(113, 152, 176, 0.3);
            padding:15px;
            left:0;
            opacity:0;
            visibility: hidden;
            top:40px;
            transition: all .3s ease-in;
            width:260px;
            border-radius:12px;
            z-index:10;
        }
        &--phonebox.active{
            opacity:1;
            visibility: visible;
            transition-duration: .3s;
        }
        &--item{
            display: flex;
            margin-bottom:5px;
            align-items:center;
            .viber__contacts--svg,.telegram__contacts--svg,.whatsapp__contacts--svg{
                width:24px;
                height:24px;
            }
        }
        &--link{
            font-family:$ralewayFont;
            font-weight:500;
            font-size:20px;
            color:$charcoal;
            text-decoration: none;
            margin-right:5px;
            span{
                font-weight:600;
            }
        }
        &--list{
            list-style: none;
        }
    }
    &__search{
        /* Media Style*/
        display: none;
        @include min(992px){
            display: flex;
        }
        &--container{
            display: flex;
            .search__input--svg{
                width:24px;
                height:24px;
                fill:transparent;
                stroke:$orangeRed;
            }
        }
        &--input{
            width:800px;
            height:50px;
            padding-left:35px;
            border:1px solid $charcoal;
            border-radius:60px;
            font-family: $ralewayFont;
            font-weight:400;
            color:$charcoal;
            @include min(992px){
                width:400px;
                margin-left:30px;
            }
            @include min(1360px){
                width:600px;
            }
            @include min(1700px){
                width:800px;
            }
        }
        &--input::placeholder{
            color:$charcoal;
            font-family:$ralewayFont;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;    
        }
        &--btn{
            border:none;
            background:$snow;
            cursor:pointer;
            border-radius:50%;
            width:46px;
            height:46px;
            position: relative;
            top:2px;
            right:48px;
        }
    }
    &__item{
        /* Media Style*/
        display: block;
        @include min(992px) {
                display: none;
        }
    }
    &__item button{
        position: relative;
        border:none;
        background-color:transparent;
        cursor:pointer;
    }
    &__btn--search.active .search__btn--svg{
        stroke: $orangeRed;
        fill:transparent;
    }
    &__btn--menu.active &__menu--burger{
        background-color:$snow !important;
        transition-delay:.15s;
    }
    &__btn--menu.active &__menu--burger::after{
        background-color:$orangeRed;
        top:-2px;
        width:20px;
        transform: translate3d(0, 10px, 0) rotate(-45deg);
        transition: top .2s cubic-bezier(.33333,0,.66667,.33333), transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        @include min(768px){
            width:22px;
        }
    }
    &__btn--menu.active &__menu--burger::before{
        background-color:$orangeRed;
        top:-2px;
        width:20px;
        transform: translate3d(0, 10px, 0) rotate(45deg);
        transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .1s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        @include min(768px){
            width:22px;
        }
    }
}
.header__btn--search{
    display: flex;
    width:35px;
    height:35px;
}
.header__btn--cart{
    display: flex;
    width:35px;
    height:35px;
}
.header__btn--menu{
    position: relative;
    display: flex;
    width:25px;
    height:25px;
}
.header__menu--burger{
    position: absolute;
    right: 0;
    height:2px;
    width:20px;
    border-radius:1px;
    background-color:$charcoal;
    @include min(768px){
        height:2px;
        width:22px;
    }
    &::after{
        content: "";
        border-radius:1px;
        position:absolute;
        right:0;
        top:7px;
        height:2px;
        width:20px;
        background-color:$charcoal;
        transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        @include min(768px){
            height:2px;
            width:22px;
        }
    }
    &::before{
        content: "";
        border-radius:1px;
        position:absolute;
        right:0;
        top:14px;
        height:2px;
        width:13px;
        background-color:$charcoal;
        transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        @include min(768px){
            height:2px;
            width:16px;
        }
    }
}
.logo__svg{
    width:130px;
    height:25px;
    @include min(576px){
        width:165px;
        height:30px;
    }
    @include min(768px){
        width:195px;
        height:35px;
    }
    @include min(1700px){
        width: 227px;
        height: 43px;
    }
}
.search__btn--svg{
    width:24px;
    height:24px;
    stroke: #000;
    fill: transparent;
}
.cart__btn--svg{
    width:24px;
    height:24px;
}
/* Modal Burger Window*/
.dropdown__modal{
    background-color:#FFF;
    position: absolute;
    z-index:999;
    width:100vw;
    border-radius:0px 0px 15px 15px;
    height:620px;
    opacity:0;
    visibility: hidden;
    left:0;
    right:0;
    overflow: auto;
    top:65px;
    box-shadow: 0 4px 20px rgba(0,0,0,.15);
    transition: all .3s ease-in;
    &__navigation--wrapper{
        position: relative;
    }
    &__navigation--wrapper::before{
        content:"";
        position: absolute;
        top:226px;
        right:15px;
        width:290px;
        height:1px;
        background-color:#DBDCDE;
        border-radius:2px;
        @include min(576px){
                width:540px;
                left:17px;
                right:0;
                top:326px;
        }
        @include min(768px){
                width:730px;
                left:17px;
                right:0;
                top:326px;
        }
    }
    &--burger.active{
        opacity:1;
        visibility: visible;
        transition: all .3s ease-in;
    }
    &--inner{
        display: flex;
        flex-direction:column;
        max-width:290px;
        margin-left:40px;
        @include min(576px){
            max-width:100%;
            margin-left:0;
        }
    }
    &--selected{
        display: flex;
        position: relative;
        margin-top:19px;
        @include min(576px){
            justify-content: center;
            align-items:center;
            margin-top:30px;
        }
    }
    &--selected-text{
        font-family:$ralewayFont;
        font-weight:400;
        font-size: 16px;
        font-style: normal;
        line-height:19px;
        margin-left:20px;
        color:$darkGrey;
        @include min(576px){
            font-size: 18px;
        }
        @include min(768px){
            font-size:20px;
        }
    }
    &--selected::before{
        content:"";
        position: absolute;
        top:32px;
        right:15px;
        min-width:290px;
        height:1px;
        background-color:#DBDCDE;
        border-radius:2px;
        @include min(576px){
                width:540px;
                left:17px;
                right:0;
                top:55px;
        }
        @include min(768px){
                width:730px;
                left:17px;
                right:0;
                top:55px;
        }
    }
    &--list{
        display: flex;
        flex-direction:column;
        list-style:none;
        @include min(576px){
            flex-direction:row;
            justify-content: center;
            align-items:center;
            margin-top:60px;
        }
        &_item{
            margin-top:20px;
            @include min(576px){
                margin-top:0px;
                margin-left:20px;
            }
            @include min(768px){
                margin-top:0px;
                margin-left:35px;
            }
        }
        &_item:first-child{
            margin-top:25px;
            @include min(576px){
                margin:0;
            }
            @include min(768px){
                margin:0;
            }
        }
        &_item a{
            font-family:$ralewayFont;
            font-weight:400;
            font-size: 16px;
            font-style: normal;
            line-height:19px;
            color:$darkGrey;
            text-decoration: none;
            @include min(768px){
                font-size:18px;
            }
        }
    }

    .phones{
        &__container--modal{
            margin-top:58px;
            max-width:195px;
            height:148px;
            @include min(576px){
                    max-width:100%;
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    flex-direction: column;
                    margin-top:60px;
            }
        }
        &__title--modal h3{
            color:$steelBlue;
            font-family: $ralewayFont;
            font-weight:400;
            font-style: normal;
            font-size:12px;
            line-height:14px;
            @include min(576px){
                    font-size:14px;
            }
            @include min(768px){
                    font-size:16px;
            }
        }
        &__list--container{
            display: flex;
        }
        &__list{
            display: flex;
            flex-direction:column;
            list-style:none;
            &--item:first-child{
                margin-top:18px;
            }
            &--item{
                display: flex;
                align-items:center;
                position: relative;
                margin-top:16px;
                svg{
                    position: relative;
                    left:9px;
                    bottom:2px;
                    width: 24px;
                    height:23px;
                    @include min(576px){
                        width:28px;
                        height:27px;
                    }
                    @include min(768px){
                        width:32px;
                        height:31px;
                    }
                }
            }
        }
        &__links{
            color:$charcoal;
            font-family:$ralewayFont;
            text-decoration: none;
            font-weight:500;
            font-style: normal;
            font-size: 20px;
            @include min(768px){
                font-size:22px;
            }
        }
    }
}
.dropdown_heart__icon--container{
    position: relative;
    .heart__icon{
        width:20px;
        height:20px;
        @include min(576px){
            width:24px;
            height:24px;
        }
        @include min(768px){
            width:28px;
            height:28px;
        }
    }

}
.dropdown_heart__icon--count{
    position: absolute;
    width:13.33px;
    height: 13.33px;
    background-color:$orangeRed;
    border-radius:50%;
    left:10px;
    bottom:12px;
    @include min(576px){
        width:16px;
        height:16px;
        bottom:14px;
    }
    @include min(768px){
        width:20px;
        height:20px;
        bottom:16px;
        left:12px;
    }
    span{
        color:#ffffff;
        font-family:'Raleway', sans-serif;
        font-size:9px;
        line-height:8px;
        position: relative;
        left:4px;
        bottom:4.5px;
        font-weight:700;
        @include min(576px){
            font-size:11px;
            left:5px;
            bottom:2px;
        }
        @include min(768px){
            font-size:13px;
            left:6px;
            bottom:0;
        }
    }
}
.lang__modal--container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:36px;
    margin-right:40px;
    @include min(576px){
        margin-right:0px;
        margin-top:70px;
    }
    a{
        text-decoration:none;
        font-family: $ralewayFont;
        line-height:19.2px;
    }
    .lang__link--uA{
        font-size:16px;
        font-weight:600;
        color:$steelBlue;
        margin-right:23px;
        @include min(576px){
            font-size:18px;
        }
        @include min(768px){
            font-size:20px;
        }

    }
    .lang__link--rU{
        font-size:16px;
        font-weight:500;
        color:$grey;
        @include min(576px){
            font-size:18px;
        }
        @include min(768px){
            font-size:20px;
        }
    }
}
/* Dropdown Modal Search */
.dropdown__modal{
    &--search.active{
        opacity:1;
        visibility: visible;
        transition: all .3s ease-in;
    }
    &--inner-search{
        display: flex;
        flex-direction: column;
    }
    &--explore{
        width:100%;
        padding:55px 0px 70px 0px;
        .search__container--modal{
            display: flex;
            justify-content: center;
            position: relative;
            .search__input--modal{
                width:270px;
                height:50px;
                margin-left:50px;
                padding-left:35px;
                border:1px solid $charcoal;
                border-radius:60px;
                font-family: $ralewayFont;
                font-weight:400;
                color:$charcoal;
                @include min(576px){
                    width:360px;
                    height:50px;
                }
            }
            .search__input--modal::placeholder{
                color:$charcoal;
                font-family:$ralewayFont;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;    
            }
            .search__btn--modal{
                border:none;
                background:$snow;
                border-radius:50%;
                min-width:46px;
                height:46px;
                position: relative;
                right:47px;
                top:2px;
            }
            .search__input--svg{
                width:24px;
                height:24px;
                fill:transparent;
                stroke:$orangeRed;
            }
        }
    }
    &--contacts{
        width:100%;
        padding-bottom:73px;
        .contacts__container--modal{
            display: flex;
            flex-direction: column;
            .contacts__title--modal{
                text-align: center;
                color:$steelBlue;
                font-size: 12px;
                font-weight:400;
                line-height: 14px;
                font-family: $ralewayFont;
                @include min(576px){
                    font-size: 14px;
                }
            }
            .contacts__list--modal{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items:center;
                .contact__item--modal:first-child{
                    margin-top:17px;
                    @include min(576px){
                        margin-top:22px;
                    }
                }
                .contacts__item--modal{
                    display: flex;
                    align-items:center;
                    margin-top:14px;
                    .contacts__tel--modal{
                        font-family: $ralewayFont;
                        font-weight:500;
                        font-size: 20px;
                        color:$charcoal;
                        text-decoration: none;
                    }
                    svg{
                        width:24px;
                        height:24px;
                        margin-left:7px;
                        @include min(576px){
                            width:28px;
                            height:28px;
                        }
                    }
                }
            }
        }
    }
    &--socials{
        width:100%;
        padding-bottom:118px;
        .socials__container--modal{
            display: flex;
            justify-content: center;
            align-items:center;
            .socials__list--modal{
                display: flex;
                list-style:none;
                .socials__item--modal:first-child{
                    margin-left:0;
                }
                .socials__item--modal{
                    margin-left:20px;
                    svg{
                        width:34px;
                        height:34px;
                    }
                }
            }
        }
    }
}