/* Product */
.product{
    width:100%;
    &__title{
        margin:22px 0px 22px 0px;
        font-family: $ralewayFont;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        color:$charcoal;
        @include min(768px){
            font-size: 20px;
        }
        @include min(992px){
            margin-left:30px;
        }
        @include min(1360px){
            margin-left:60px;
        }
        @include min(1700px){
            font-size:28px;
            margin-bottom:40px;
            max-width:939px;
            line-height: 39.2px;
        }
    }

    &__inner--info{
        display: flex;
        flex-wrap: wrap;
        @include min(1200px){
            display: block;
        }
    }
    &__details--container{
        @include min(768px){
            display: flex;
            margin-bottom:50px;
        }
        @include min(992px){
            gap:20px;
        }
        @include min(1200px){
            gap:50px;
        }
        @include min(1360px){
            gap:65px;
        }
        @include min(1700px){
            gap:100px;
        }
    }
    &__info{
        position: relative;
        &--card{
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius:10px;
            box-sizing:border-box;
            @include min(576px){
                width:100%;
                padding:30px;
            }
            @include min(992px){
                display: flex;
                background:$snow;
                max-width:360px;
                max-height:470px;
                position: absolute;
                right:0;
                bottom:520px;
                padding:30px;
            }
            @include min(1200px){
                bottom:490px;
            }
            @include min(1360px){
                height:500px;
                min-width:570px;
                padding:15px 38px 70px 35px;
            }
        }
        &--container{
            @include min(768px){
                display: flex;
                align-items:center;
                justify-content: space-between;
            }
            @include min(992px){
                flex-direction: column;
                align-items:baseline;
            }
            @include min(1360px){
                display: block;
            }
        }
        &--costNcount{
            @include min(768px){
                display: flex;
                flex-direction: column;
            }
        }
        &--codeNstate{
            @include min(768px){
                display: flex;
                flex-direction: column;
            }
        }
        &--code{
            margin:40px 0px 20px 0px;
            @include min(992px){
                margin:0px 0px 20px 0px;
            }
            @include min(1360px){
                margin:0;
                padding-bottom:20px;
                display: flex;
                flex-direction: row-reverse;
            }
        }
        &--code::after{
            @include min(1360px){
                display: block;
            }
            content:"";
            display: none;
            position: absolute;
            top:46px;
            left:0;
            width:100%;
            background:$grey;
            height:1px;
            border-radius:12px;
        }
        &--title-code{
            font-family:$ralewayFont;
            color:$steelBlue;
            font-size:16px;
            font-weight:400;
            @include min(992px){
                    font-size: 18px;
            }
            span{
                font-family:$ralewayFont;
                font-size:16px;
                font-weight:700;
                color:#000;
            }
        }
        &--state{
            margin-bottom:32px;
            @include min(992px){
                margin:0;
            }
            @include min(1360px){
                margin-top:45px;
            }
        }
        &--title-state{
            font-family:$ralewayFont;
            color:$steelBlue;
            font-size:16px;
            font-weight:400;
            @include min(992px){
                    font-size: 18px;
            }
            span{
                font-family:$ralewayFont;
                font-size:16px;
                font-weight:700;
                color:#000;
                @include min(992px){
                        font-size: 18px;
                }
            }
        }
        &--price{
            display: flex;
            align-items:center;
            @include min(768px){
                margin:25px 0px 15px 0px;
            }
            @include min(1360px){
                margin:76px 0px 18px 0px;
            }
            .price__svg{
                width:22px;
                height:22px;
                fill:transparent;
                stroke:$orangeRed;
                @include min(576px){
                    width:24px;
                    height:24px;
                }
                @include min(1360px){
                    width:26px;
                    height:26px;
                }
            }
        }
        &--newPrice-title{
            font-family:$ralewayFont;
            font-weight:700;
            font-size:27px;
            margin-left:14px;
            color:#000;
            line-height:32.32px;
            @include min(1360px){
                font-size:29px;
            }
        }
        &--oldPrice-title{
            text-decoration:line-through;
            color:$steelBlue;
            margin-left:20px;
            font-family:$ralewayFont;
            font-size: 18px;
            font-weight:600;
            @include min(1360px){
                font-size:20px;
            }
        }
        &--currency{
            font-family:$ralewayFont;
            font-size:16px;
            font-weight:400;
            color:#000;
            line-height:19.32px
        }
        &--counter{
            display: flex;
            align-items:center;
            margin-top:26px;
            @include min(768px){
                margin-top:0px;
                margin-bottom:32px;
            }
            @include min(992px){
                margin:0;
            }
            @include min(1360px){
                margin-top:46px;
            }
            &-title{
                font-family: $ralewayFont;
                color:$steelBlue;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                @include min(576px){
                        font-size:16px;
                }
            }
        }
        &--countQantity{
            display: flex;
            align-items:center;
            margin-left:16px;
        }
        &--count-input{
            font-family:$ralewayFont;
            color:$charcoal;
            font-weight:500;
            width:50px;
            text-align: center;
            height:28px;
            border:1px solid $grey;
            @include min(576px){
                    width:70px;
                    height:30px;
            }
        }
        &--count-button{
            border:none;
            cursor: pointer;
            background:transparent;
            .counterDecrArrow__svg{
                display: flex;
                width:16px;
                height:16px;
                fill:transparent;
                stroke:$orangeRed;
                @include min(576px){
                        width:20px;
                        height:20px;
                }
            }
            .counterDecrArrow__svg.disabled{
                fill:transparent;
                stroke:$disabledColor;
            }
            .counterIncrArrow__svg{
                display: flex;
                width:16px;
                height:16px;
                fill:transparent;
                stroke:$orangeRed;
                transform:rotate(180deg);
                @include min(576px){
                        width:20px;
                        height:20px;
                }
            }
        }
        .add-to-cart__popup{
            position:absolute;
            border-radius:12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            visibility:hidden;
            align-items:center;
            width:fit-content;
            padding:15px;
            background:$snow;
            top:50%;
            left:50%;
            z-index:10;
            transform: translate(-50%, -50%);
            .checked__svg{
                width:32px;
                height:32px;
            }
            .popup__title{
                font-family: $ralewayFont;
                color:$steelBlue;
                max-width:214px;
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                text-align: center;
                padding-top:10px;                
            }
            .popup__btns{
                display: flex;
                flex-direction: column;
                padding-top:20px;
                .purchase__btn{
                    display: flex;
                    justify-content: center;
                    border:none;
                    outline: none;
                    font-family: $ralewayFont;
                    font-size: 15px;
                    font-weight: 400;
                    color:#fff;
                    line-height: 21px;
                    cursor: pointer;               
                    width:242px;
                    height:50px;
                    align-items: center;
                    padding: 5.25px 19.25px 8.75px;
                    background:$orangeRed;
                    border-radius: 50px;
                }
                .return__btn{
                    display: flex;
                    justify-content: center;
                    border:1px solid $steelBlue;
                    font-family: $ralewayFont;
                    font-size: 15px;
                    font-weight: 400;
                    cursor: pointer;
                    margin:22px 0px 20px 0px;
                    color:$steelBlue;
                    box-sizing:border-box;
                    line-height: 21px;                  
                    width:242px;
                    height:50px;
                    align-items: center;
                    padding: 5.25px 19.25px 8.75px;
                    background:transparent;
                    border-radius: 50px;
                }
            }
            .close__popup--btn{
                position: relative;
                left:100px;
                border:none;
                cursor:pointer;
                background:transparent;
                display: inline-block;
                width:28px;
                height:28px;
            }
            .close__popup--btn::after{
                content:"";
                position: absolute;
                background-color:$charcoal;
                z-index:10;
                top:-2px;
                height:2px;
                width:20px;
                transform: translate3d(0, 10px, 0) rotate(-45deg);
            }
            .close__popup--btn::before{
                content:"";
                position: absolute;
                z-index:11;
                background-color:$charcoal;
                top:-2px;
                height:2px;
                width:20px;
                transform: translate3d(0, 10px, 0) rotate(45deg);
            }
        }
        .add-to-cart__popup.active{
            opacity:1;
            visibility:visible;
        }
        .phone__popup{
            position:absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            visibility:hidden;
            align-items:center;
            padding:15px;
            top:50%;
            left:50%;
            z-index:10;
            transform: translate(-50%, -50%);
            .phone__popup--svg{
                width:20px;
                height:20px;
                fill:transparent;
                stroke:$steelBlue;
                position: relative;
                top:39px;
                left:15px;
                @include min(768px){
                    top:5px;
                    left:40px;
                }
            }
            .phone__popup--input{
                background:#fff;
                padding:15px 50px 15px 50px;
                border-radius:50px;
                border:1px solid $snow;
                font-family: $ralewayFont;
                color:#000;
                font-weight:500;
            }
            .phone__popup--input:focus{
                outline:1px solid $steelBlue;
            }
            .phone__popup--input::placeholder{
                font-family:$ralewayFont;
                font-style: normal;
                color:$steelBlue;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
            }
            .phone__popup--btn{
                background:$orangeRed;
                border-radius:50%;
                width:50px;
                height:49px;
                position: absolute;
                bottom:15px;
                right:15px;
                cursor: pointer;
                height:50px;
                border:none;
                padding: 5.25px 19.25px 8.75px;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-family: $ralewayFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    color:#FFF;
                    text-transform: uppercase;
                }
            }
        }
        .phone__popup.active{
            opacity:1;
            visibility:visible;
        }
        &--payment-btns{
            display: flex;
            margin-top:34px;
            flex-direction: column;
            @include min(1360px){
                margin-top:50px;
                flex-direction: row;
            }
        }
        &--add-to-cart{
            @include min(1360px){
                width:284px;
                height:56px;
                padding:10px;
            }
            display: flex;
            justify-content: center;
            height: 50px;
            align-items:center;
            cursor: pointer;
            border:none;
            border-radius:36px;
            background:$orangeRed;
            .add-to-cart__title{
                font-family: $ralewayFont;
                font-size: 17px;
                font-weight: 500;
                line-height: 19px;
                margin-left:16px;
                color:#fff;
                @include min(576px){
                        font-size: 19px;
                }
            }
            .cart__svg{
                width:22px;
                height:22px;
                @include min(576px){
                        width:24px;
                        height:24px;
                }
            }
        }
        &--one-click-buy{
            @include min(1360px){
                margin:0px 0px 0px 25px;
                width:284px;
                height:56px;
            }
            display: flex;
            justify-content: center;
            height: 50px;
            align-items:center;
            cursor: pointer;
            border:none;
            border-radius:36px;
            margin-top:16px;
            margin-bottom:24px;
            background:$steelBlue;
            .one-click-buy__title{
                font-family: $ralewayFont;
                font-size: 17px;
                font-weight: 500;
                line-height: 19px;
                margin-left:16px;
                color:#fff;
                @include min(576px){
                        font-size: 19px;
                }
            }
            .calling__svg{
                width:22px;
                height:22px;
                fill: transparent;
                stroke: #fff;
                @include min(576px){
                        width:24px;
                        height:24px;
                }
            }
        }
        &--meest{
            display: flex;
            flex-direction: column;
            border:1px solid $snow;
            border-radius:10px;
            padding-left:29px;
            padding-top:32px;
            @include min(576px){
                align-items:center;
                padding-left:0px;
            }
            @include min(992px){
                align-items:center;
                padding:0;
                border:none;
            }
            @include min(1360px){
                width:232px;
                height:180px;
                position: absolute;
                top:130px;
                display: block;
                right:15px;
                padding-top:32px;
                background:#fff;
            }
            &-checkbox{
                width:22px;
                height:20px;
                background:#F8F8F8;
                border:1px solid $steelBlue;
                border-radius:1px;
                
            }
            &-check{
                display: flex;
                align-items:center;
                @include min(1360px){
                    padding-left:20px;
                }
                .meest__logo{
                    width:89px;
                    height:28px;
                    margin-left:14px;
                    @include min(576px){
                        width:100px;
                        height:35px;
                    }
                    @include min(1360px){
                        width: 89px;
                        height: 28px;
                    }
                }
            }
            &-p{
                font-family:$ralewayFont;
                font-size:15px;
                font-weight:500;
                max-width:197px;
                margin:0;
                padding:17px 0px 30px 0px;
                color:$charcoal;
                @include min(576px){
                    max-width:210px;
                    font-size:16px;
                    position: relative;
                    padding:17px 0px 30px 0px;
                    left:20px;
                }
                @include min(992px){
                    padding:10px 0px 0px 0px;
                    margin-bottom:30px;
                    max-width:100%;
                }
                @include min(1360px){
                    max-width:181px;
                    padding:0;
                    margin-top:20px;
                }
                span{
                    font-family: inherit;
                    font-weight:700;
                    color:$orangeRed;
                }
            }
        }
    }
    &__characteristics{
        width:100%;
        margin-top:40px;
        @include min(576px){
            padding-left:30px;
        }
        @include min(1360px){
            padding-left:0;
            margin-left:60px;
        }
        &--title{
            font-family: $ralewayFont;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            color:$steelBlue;
            @include min(576px){
                font-size: 20px;
            }
            @include min(1360px){
                font-size:22px;
            }
        }
        &--list{
            display: flex;
            list-style: none;
            flex-direction: column;
        }
        &--item{
            display: flex;
            margin-top:16px;
            @include min(768px){
                margin-top:12px;
            }
        }
        &--item:first-child{
            margin-top:18px;
            @include min(768px){
                margin-top:14px;
            }
        }
        &--name{
            font-family: $ralewayFont;
            font-size: 12px;
            font-weight: 500;
            position: relative;
            width:50%;
            padding-right:7px;
            height:100%;
            line-height: 18px;
            color:$steelBlue;
            @include min(576px){
                font-size:14px;
            }
            @include min(768px){
                margin-top:16px;
            }
            @include min(992px){
                font-size:16px;
            }
            @include min(1200px){
                font-size:18px;
            }
        }
        &--name::after{
            content:"";
            position: absolute;
            display: block;
            background:$snow;
            width: 100%;
            left:0;
            top:12px;
            z-index:-1;
            height: 1px;
        }
        &--value{
            font-family: $ralewayFont;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            color:$charcoal;
            @include min(576px){
                font-size:14px;
            }
            @include min(768px){
                margin-top:16px;
            }
            @include min(992px){
                font-size:16px;
            }
            @include min(1200px){
                font-size:18px;
            }
        }
    }
    &__delivery{
        width:100%;
        margin:40px 0px 50px 0px;
        @include min(576px){
            padding-left:30px;
        }
        @include min(768px){
            padding-left:0px;
        }
        @include min(1200px){
            margin-left:50px;
        }
        &--title{
            font-family: $ralewayFont;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            color:$steelBlue;
            @include min(1360px){
                font-size:22px;
            }
        }
        &--list{
            display: flex;
            list-style: none;
            flex-direction: column;
        }
        &--item{
            display: flex;
            gap:15px;
            padding-top:15px;
            @include min(1360px){
                padding-top:30px;
                padding-bottom:30px;
            }
            svg{
                width:40px;
                height:40px;
                @include min(576px){
                    width:44px;
                    height:44px;
                }
                @include min(1360px){
                    width:50px;
                    height:50px;
                    
                }
            }
            &-text{
                display: flex;
                flex-direction: column;
                width:fit-content;
                @include min(1360px){
                    max-width:483px;
                    padding-left:10px;
                }
                .delivery__item--title{
                    font-family:$ralewayFont;
                    font-weight:700;
                    color:$charcoal;
                    margin-bottom:5px;
                    font-size:16px;
                    @include min(576px){
                        font-size:20px;
                    }

                }
                .delivery__item--about{
                    margin:0;
                    font-family:$ralewayFont;
                    font-weight:500;
                    color:$charcoal;
                    font-size:14px;
                    @include min(576px){
                        font-size:16px;
                    }
                    @include min(1360px){
                        font-size:18px;
                    }
                }
            }
        }
        &--item:not(:first-child){
            border-top:1px solid $steelBlue;
            margin-top:10px;
        }
    }
}